body:before {
	content: 'Installation of the Theme is not complete! Please install the addon and activate it';
	display: block;
	padding: 100px 50px;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: #000;
	background: #f00;
}
.tygh-header {
	position: relative;
	z-index: 2;
	box-shadow: 0 1px 4px -1px rgba(0,0,0,0.7);
	background: #ffffff;
}
.tygh-header > div {
	padding-top: 0;
}
.ty-logo-container{
	padding-bottom: 0;
}
.ty-dropdown-box__title:hover a,
.ty-dropdown-box__title:hover i,
.tygh-top-panel a:hover {
	color: #000;
}
.owl-theme .owl-wrapper-outer {
	padding-top: 0;
	padding-bottom: 0;
}
.owl-theme {
	margin-bottom: 0;
}
.ty-mainbox-title {
	text-transform: none;
	margin-top: 19px;
	margin-bottom: 19px;
	padding: 0;
}
.ty-banner__image {
  width: 100%;
}
@media (max-width: 767px) {
	div .tygh-header {
		margin-bottom: 0px;
	}
}

@media (min-width: 767px) {
	.ty-cart-content .ty-cart-content__product-elem,
	.ty-cart-content .ty-cart-content__title {
		border: 0;
	}
	.top-menu {
		/*margin-top: 3px;*/
	}
}

@media (max-width: 767px) {
	.top-menu .open-menu-button {
		position: absolute;
		top: -44px;
		right: 15px;
		
		.ty-icon-short-list {
			padding-right: 0;
		}
		span {
			display: none;
		}
	}
}
.ty-tygh .ty-product-block {
    padding: 0 0 20px;
}
div .ty-breadcrumbs {
    display: block;
}
.our-brands__wrapper .ty-grayscale {
	-webkit-filter: none;
	filter: none;
}
.ty-tygh .ty-benefits-guarantees.have-bg-class,
.ty-tygh .have-bg .ty-mainbox-body,
.ty-tygh .have-bg-class {
	padding-left: 0;
	padding-right: 0;
}
.ty-logo-container img.ty-logo-container__image {
	height: 40px !important;
}
.ty-menu__item:hover .ty-menu__item-link:before {
	display:none;
}
//**********************************************************
// Social networks Custom
//**********************************************************
ul.social-networks li a i {
    color: #cccccc;
}
ul.social-networks li a {
    background: #666666;
    border-color: #666666;
}
ul.social-networks li a i {
    color: #fff;
}
ul.social-networks li a.icon-social-facebook {
    background: #3B5998;
    border-color: #3B5998;
}
ul.social-networks li a.icon-social-twitter {
    background: #55ACEE;
    border-color: #55ACEE;
}
ul.social-networks li a.icon-social-gplus {
    background: #DD4B39;
    border-color: #DD4B39;
}
ul.social-networks li a.icon-social-instagram {
    background: #517fa4;
    border-color: #517fa4;
}
ul.social-networks li a.icon-social-dribbble {
    background: #ea4c89;
    border-color: #ea4c89;
}
ul.social-networks li a.icon-social-play {
    background: #c4302b;
    border-color: #c4302b;
}
ul.social-networks li a.icon-social-vimeo {
    background: #44bbff;
    border-color: #44bbff;
}
ul.social-networks li a.icon-social-pinterest {
    background: #c8232c;
    border-color: #c8232c;
}
ul.social-networks li a.icon-social-linkedin {
    background: #0e76a8;
    border-color: #0e76a8;
}
ul.social-networks li a.icon-social-tumblr {
    background: #35465c;
    border-color: #35465c;
}
// Hover 
ul.social-networks li a:hover.icon-social-facebook {
    i { color: #3B5998; }
    background: none;
    border-color: #3B5998;
}
ul.social-networks li a:hover.icon-social-twitter {
    i { color: #55ACEE; }
    background: none;
    border-color: #55ACEE;
}
ul.social-networks li a:hover.icon-social-gplus {
    i { color: #DD4B39; }
    background: none;
    border-color: #DD4B39;
}
ul.social-networks li a:hover.icon-social-instagram {
    i { color: #517fa4; }
    background: none;
    border-color: #517fa4;
}
ul.social-networks li a:hover.icon-social-dribbble {
    i { color: #ea4c89; }
    background: none;
    border-color: #ea4c89;
}
ul.social-networks li a:hover.icon-social-play {
    i { color: #c4302b; }
    background: none;
    border-color: #c4302b;
}
ul.social-networks li a:hover.icon-social-vimeo {
    i { color: #44bbff; }
    background: none;
    border-color: #44bbff;
}
ul.social-networks li a:hover.icon-social-pinterest {
    i { color: #c8232c; }
    background: none;
    border-color: #c8232c;
}
ul.social-networks li a:hover.icon-social-linkedin {
    i { color: #0e76a8; }
    background: none;
    border-color: #0e76a8;
}
ul.social-networks li a:hover.icon-social-tumblr {
    i { color: #35465c; }
    background: none;
    border-color: #35465c;
}

//Payment
div .payment-icons .payment-icon .normal-color {
    .opacity(100);
}

//*******************************************************
// Fix 08.04.2015
//*******************************************************
.ty-product-list.blog-item {
	padding: 10px 20px 20px;
}
.ty-mainbox-title {
	padding-left: 0;
	padding-right: 0;
}
.ty-sidebox,
.ty-sort-dropdown__wrapper {
	padding-left: 0;
}

@media (max-width: 767px) {
	.top-menu .open-menu-button {
		top: -39px;
	}
}

@rounded_corners: false;
@links: #222222;
@menu_links: #222222;
@menu: #ffffff;
@base: #dd1f26;
@font: #222222;
@primary_button: #dd1f26;
@secondary_button: #000000;
@tertiary_button: #eeeeee;
@sidebar: #ffffff;
@price: #dd1f26;
@discount_label: #dd1f26;
@in_stock: #dd1f26;
@out_of_stock: #999999;
@top_panel_links: #fff;
@top_panel_text: #fff;
@footer_text: #666666;
@decorative: #ff00e7;

@general_bg_color: #fff;
@general_bg_image: transparent;
@general_bg_repeat: repeat;
@general_bg_scroll: scroll;

@top_panel_bg: #dd1f26;
@top_panel_bg_full: true;
@top_panel_bg_transparent: false;
@top_panel_bg_grad_stop: #dd1f26;

@header_bg: #ffffff;
@header_bg_full: true;
@header_bg_transparent: false;
@header_bg_grad_stop: #ffffff;

@content_bg: #eeeeee;
@content_bg_full: false;
@content_bg_transparent: true;

@footer_bg: #000;
@footer_bg_full: true;
@footer_bg_transparent: false;
@footer_bg_grad_stop: #000;

@body_font: Roboto;
@body_font_size: 13px;
@body_font_style: normal;
@body_font_weight: normal;
@headings_font: Roboto Condensed;
@headings_font_size: 27px;
@headings_font_decoration: none;
@headings_font_style: normal;
@headings_font_weight: normal;
@links_font: Roboto;
@links_font_size: 13px;
@links_font_decoration: none;
@links_font_style: normal;
@links_font_weight: normal;
@price_font: Roboto Condensed;
@price_font_size: 40px;
@price_font_decoration: none;
@price_font_style: normal;
@price_font_weight: normal;
@buttons_font: Roboto Condensed;
@buttons_font_size: 14px;
@buttons_font_decoration: none;
@buttons_font_style: normal;
@buttons_font_weight: normal;

@color_star: #ffd700;
@color_star_empty: #919191;


.padding-3 {
    padding: 0 3px !important;
}

.padding-top-3 {
    padding-top: 4px !important;
}

.cp-bg-city {
/*    padding-top: 10px;
    padding-bottom: 10px;
    background: url('//andrey-demo.ru/powercartru/images/bg/grunge-urban-wall-background.jpg') no-repeat fixed 50%;
    background-size: cover; */   
    background-color: #f5f5f5;
    
}

.cp-bg-paris{
    padding-top: 10px;
    padding-bottom: 10px;
    background: url('//demo.cart-power.com/powercart/images/bg/paris.png') no-repeat fixed 50%;
    background-size: cover;
}

.cp-bg-paris .ty-grid-list__item {
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.cp-bg-reviews {
    background-color: #f5f5f5;
}

.cp-bg-newcollection {
/*    padding-top: 10px;
    padding-bottom: 10px;
    background: url('//demo.cart-power.com/powercart/images/bg/city-light.jpg') no-repeat fixed 50%;
    background-size: cover; */
    background-color: #f5f5f5;
}

.homepage-our-brands .ty-sidebox__body {
    margin-top: 15px;
}

.tygh-footer .ty-tag-cloud a {
    background: #dd1f26;
    color: #fff;    
    border: 1px solid #fff;    
}

.tygh-footer h3 {
    color: #fff;
}


/*GFONTS*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(//fonts.gstatic.com/s/roboto/v15/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(//fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsFzqCfRpIA3W6ypxnPISCPA.woff) format('woff');
}

/*/GFONTS*/