#bar {
  width: 0%;
  max-width: 100%;
  height: 5px;
  background: rgba(0,0,0,0.1);
}
#progressBar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(0,0,0,0.05);
}
#progressBar.progressBar-bottom {
  top: auto;
  bottom: 0;
}
.iSkin.owl-theme {
  margin-top: 0;
}
.iSkin.owl-theme .owl-controls {
  margin-top: 0;
}
.iSkin .owl-pagination {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 9px;
}
.iSkin.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
  top: 50%;
  overflow: hidden;
  width: 23px;
  height: 23px;
  margin-top: -23px;
  padding: 10px 9px;
  border: 1px solid #007aff;
  text-indent: 0;
  color: #007aff;
  background: none;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.iSkin.owl-theme .owl-controls .owl-buttons div:hover {
  background: #007aff;
  color: #fff;
}
.iSkin.owl-theme .owl-controls .owl-buttons div:before {
  display: block;
  margin-bottom: 20px;
  font-family: 'glyphs';
  speak: none;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  position: static;
}
.iSkin.owl-theme .owl-buttons .owl-prev {
  left: 10px;
}
.iSkin.owl-theme .owl-buttons .owl-prev:before {
  content: "\e81e";
}
.iSkin.owl-theme .owl-buttons .owl-next {
  right: 10px;
}
.iSkin.owl-theme .owl-buttons .owl-next:before {
  content: "\e81f";
}
.iSkin.owl-theme .owl-controls .owl-page span {
  border: 1px solid #007aff;
  background: rgba(59,89,153,0.5);
  color: #007aff;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 350ms;
  -moz-transition: all 350ms;
  -o-transition: all 350ms;
  transition: all 350ms;
}
.iSkin.owl-theme .owl-controls .owl-page.active span,
.iSkin.owl-theme .owl-controls.clickable .owl-page:hover span {
  background: #007aff;
  color: #fff;
}
.iSkin.owl-theme .owl-controls .owl-page .owl-numbers {
  width: 19px;
  padding: 1px;
}
.fashionSkin.owl-theme .owl-controls {
  margin-top: 0;
}
.fashionSkin.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
  top: 50%;
  overflow: hidden;
  width: 50px;
  height: 50px;
  margin: -25px 0 0;
  padding: 0;
  border: 0;
  color: #333333;
  background: #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  text-indent: 0;
}
.fashionSkin.owl-theme .owl-controls .owl-buttons div:hover {
  background: #000;
  color: #fff;
}
.fashionSkin.owl-theme .owl-controls .owl-buttons div:before {
  position: static;
  display: block;
  width: 50px;
  height: 50px;
  margin: 0;
  font-family: 'glyphs';
  speak: none;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 50px;
  -webkit-font-smoothing: antialiased;
}
.fashionSkin.owl-theme .owl-buttons .owl-prev {
  left: 0px;
}
.fashionSkin.owl-theme .owl-buttons .owl-prev:before {
  content: "\e81e";
}
.fashionSkin.owl-theme .owl-buttons .owl-next {
  right: 0px;
}
.fashionSkin.owl-theme .owl-buttons .owl-next:before {
  content: "\e81f";
}
.fashionSkin.owl-theme .owl-pagination {
  position: absolute;
  bottom: 3.5%;
  right: 1.5%;
}
.fashionSkin.owl-theme .owl-controls .owl-page {
  display: inline-block;
  width: 22px;
  height: 16px;
}
.fashionSkin.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 3px auto 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #fff;
  -webkit-box-shadow: rgba(0,0,0,0.298039) 0px 1px 2px 0px;
  -moz-box-shadow: rgba(0,0,0,0.298039) 0px 1px 2px 0px;
  box-shadow: rgba(0,0,0,0.298039) 0px 1px 2px 0px;
  -webkit-transition: background-color 300ms ease-in-out;
  -moz-transition: background-color 300ms ease-in-out;
  -o-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
}
.fashionSkin.owl-theme .owl-controls .owl-page span.owl-numbers {
  width: 10px;
  height: 10px;
  padding: 0;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  font-size: 6px;
  line-height: 10px;
  color: #000;
}
.fashionSkin.owl-theme .owl-controls .owl-page.active span,
.fashionSkin.owl-theme .owl-controls.clickable .owl-page:hover span {
  width: 16px;
  height: 16px;
  margin-top: 0;
  font-size: 12px;
  line-height: 16px;
}
.fashionSkin.owl-theme .owl-controls.clickable .owl-page:hover span {
  color: #fff;
  background: #000;
}
.airSkin.owl-theme .owl-controls {
  margin-top: 0;
}
.airSkin.owl-theme .owl-pagination {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 9px;
}
.airSkin.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
  top: 50%;
  overflow: hidden;
  width: 45px;
  height: 48px;
  margin-top: -24px;
  padding: 0;
  border: 0;
  text-indent: -99999999px;
  color: #fff;
  background: url('../../../../../../../../design/themes/supercourse/media/images/addons/powerfull_owl/air-skin-arrow.png?1485943813') no-repeat;
  opacity: 1;
  filter: alpha(opacity=1);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.airSkin.owl-theme .owl-controls .owl-buttons div:before {
  display: none;
  content: '';
}
.airSkin.owl-theme .owl-controls .owl-buttons div:hover {
  background-color: none;
  color: #fff;
}
.airSkin.owl-theme .owl-controls .owl-buttons div.owl-prev {
  left: 0px;
  background-position: 0 0;
}
.airSkin.owl-theme .owl-controls .owl-buttons div.owl-next {
  right: 0px;
  background-position: -45px 0;
}
.airSkin.owl-theme .owl-controls .owl-page span {
  width: 6px;
  height: 6px;
  border: 2px solid #fff;
  font-size: 11px;
  color: #fff;
  background: none;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 350ms;
  -moz-transition: all 350ms;
  -o-transition: all 350ms;
  transition: all 350ms;
}
.airSkin.owl-theme .owl-controls .owl-page.active span,
.airSkin.owl-theme .owl-controls.clickable .owl-page:hover span {
  background: #fff;
  color: #000;
}
.airSkin.owl-theme .owl-controls .owl-page .owl-numbers {
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  padding: 0;
}
.gracefulSkin.owl-theme .owl-controls {
  margin-top: 0;
}
.gracefulSkin.owl-theme .owl-pagination {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 9px;
}
.gracefulSkin.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
  top: 50%;
  overflow: hidden;
  width: 42px;
  height: 42px;
  margin-top: -21px;
  padding: 0;
  border: 0;
  color: #000;
  background: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.gracefulSkin.owl-theme .owl-controls .owl-buttons div:before {
  width: 42px;
  height: 42px;
  display: block;
  margin: 0;
  font-family: 'glyphs';
  speak: none;
  font-size: 32px;
  line-height: 42px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  text-indent: 0;
  position: static;
}
.gracefulSkin.owl-theme .owl-buttons .owl-prev {
  left: 0px;
}
.gracefulSkin.owl-theme .owl-buttons .owl-prev:before {
  content: "\e81e";
}
.gracefulSkin.owl-theme .owl-buttons .owl-next {
  right: 0px;
}
.gracefulSkin.owl-theme .owl-buttons .owl-next:before {
  content: "\e81f";
}
.gracefulSkin.owl-theme .owl-controls .owl-page span {
  width: 6px;
  height: 6px;
  border: 2px solid #000;
  font-size: 11px;
  color: #000;
  background: none;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 350ms;
  -moz-transition: all 350ms;
  -o-transition: all 350ms;
  transition: all 350ms;
}
.gracefulSkin.owl-theme .owl-controls .owl-page.active span,
.gracefulSkin.owl-theme .owl-controls.clickable .owl-page:hover span {
  background: #000;
  color: #fff;
}
.gracefulSkin.owl-theme .owl-controls .owl-page .owl-numbers {
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  padding: 0;
}
.lightingSkin.owl-theme .owl-controls {
  margin-top: 0;
}
.lightingSkin .owl-pagination {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 9px;
}
.lightingSkin.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
  top: 50%;
  overflow: hidden;
  width: 23px;
  height: 23px;
  margin-top: -23px;
  padding: 10px 9px;
  border: 1px solid #222222;
  color: #222222;
  background: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
  text-indent: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.lightingSkin.owl-theme .owl-controls .owl-buttons div:hover {
  background: #fff;
  color: #222222;
}
.lightingSkin.owl-theme .owl-controls .owl-buttons div:before {
  position: static;
  display: block;
  margin-bottom: 20px;
  font-family: 'glyphs';
  speak: none;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.lightingSkin.owl-theme .owl-buttons .owl-prev {
  left: 10px;
}
.lightingSkin.owl-theme .owl-buttons .owl-prev:before {
  content: "\e81e";
}
.lightingSkin.owl-theme .owl-buttons .owl-next {
  right: 10px;
}
.lightingSkin .owl-buttons .owl-next:before {
  content: "\e81f";
}
.lightingSkin.owl-theme .owl-controls .owl-page span {
  height: 6px;
  color: #000;
  background: #fff;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 350ms;
  -moz-transition: all 350ms;
  -o-transition: all 350ms;
  transition: all 350ms;
}
.lightingSkin.owl-theme .owl-controls .owl-page.active span,
.lightingSkin.owl-theme .owl-controls.clickable .owl-page:hover span {
  background: #222222;
  color: ;
}
.lightingSkin.owl-theme .owl-controls .owl-page .owl-numbers {
  width: 19px;
  height: auto;
  padding: 1px;
}
.padding-top-20 {
  padding-top: 20px;
}
body:before {
  content: 'Installation of the Theme is not complete! Please install the addon and activate it';
  display: block;
  padding: 100px 50px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #000;
  background: #f00;
}
@media (min-width: 767px) {
  .ty-cart-content .ty-cart-content__product-elem,
  .ty-cart-content .ty-cart-content__title {
    border: 0;
  }
  .top-menu {
    margin-top: 3px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .top-menu {
    margin-top: -27px;
  }
}
@media (max-width: 767px) {
  .top-menu .open-menu-button {
    position: absolute;
    top: -72px;
    right: 15px;
  }
  .top-menu .open-menu-button .ty-icon-short-list {
    padding-right: 0;
  }
  .top-menu .open-menu-button span {
    display: none;
  }
}
.ty-tygh .ty-product-block {
  padding: 0 0 20px;
}
div .ty-breadcrumbs {
  display: block;
}
.our-brands__wrapper .ty-grayscale {
  -webkit-filter: none;
  filter: none;
}
.ty-tygh .ty-benefits-guarantees.have-bg-class,
.ty-tygh .have-bg .ty-mainbox-body,
.ty-tygh .have-bg-class {
  padding-left: 0;
  padding-right: 0;
}
ul.social-networks li a i {
  color: #cccccc;
}
ul.social-networks li a {
  background: #666666;
  border-color: #666666;
}
ul.social-networks li a i {
  color: #fff;
}
ul.social-networks li a.icon-social-facebook {
  background: #3B5998;
  border-color: #3B5998;
}
ul.social-networks li a.icon-social-twitter {
  background: #55ACEE;
  border-color: #55ACEE;
}
ul.social-networks li a.icon-social-gplus {
  background: #DD4B39;
  border-color: #DD4B39;
}
ul.social-networks li a.icon-social-instagram {
  background: #517fa4;
  border-color: #517fa4;
}
ul.social-networks li a.icon-social-dribbble {
  background: #ea4c89;
  border-color: #ea4c89;
}
ul.social-networks li a.icon-social-play {
  background: #c4302b;
  border-color: #c4302b;
}
ul.social-networks li a.icon-social-vimeo {
  background: #44bbff;
  border-color: #44bbff;
}
ul.social-networks li a.icon-social-pinterest {
  background: #c8232c;
  border-color: #c8232c;
}
ul.social-networks li a.icon-social-linkedin {
  background: #0e76a8;
  border-color: #0e76a8;
}
ul.social-networks li a.icon-social-tumblr {
  background: #35465c;
  border-color: #35465c;
}
ul.social-networks li a:hover.icon-social-facebook {
  background: none;
  border-color: #3B5998;
}
ul.social-networks li a:hover.icon-social-facebook i {
  color: #3B5998;
}
ul.social-networks li a:hover.icon-social-twitter {
  background: none;
  border-color: #55ACEE;
}
ul.social-networks li a:hover.icon-social-twitter i {
  color: #55ACEE;
}
ul.social-networks li a:hover.icon-social-gplus {
  background: none;
  border-color: #DD4B39;
}
ul.social-networks li a:hover.icon-social-gplus i {
  color: #DD4B39;
}
ul.social-networks li a:hover.icon-social-instagram {
  background: none;
  border-color: #517fa4;
}
ul.social-networks li a:hover.icon-social-instagram i {
  color: #517fa4;
}
ul.social-networks li a:hover.icon-social-dribbble {
  background: none;
  border-color: #ea4c89;
}
ul.social-networks li a:hover.icon-social-dribbble i {
  color: #ea4c89;
}
ul.social-networks li a:hover.icon-social-play {
  background: none;
  border-color: #c4302b;
}
ul.social-networks li a:hover.icon-social-play i {
  color: #c4302b;
}
ul.social-networks li a:hover.icon-social-vimeo {
  background: none;
  border-color: #44bbff;
}
ul.social-networks li a:hover.icon-social-vimeo i {
  color: #44bbff;
}
ul.social-networks li a:hover.icon-social-pinterest {
  background: none;
  border-color: #c8232c;
}
ul.social-networks li a:hover.icon-social-pinterest i {
  color: #c8232c;
}
ul.social-networks li a:hover.icon-social-linkedin {
  background: none;
  border-color: #0e76a8;
}
ul.social-networks li a:hover.icon-social-linkedin i {
  color: #0e76a8;
}
ul.social-networks li a:hover.icon-social-tumblr {
  background: none;
  border-color: #35465c;
}
ul.social-networks li a:hover.icon-social-tumblr i {
  color: #35465c;
}
.ty-product-list.blog-item {
  padding: 10px 20px 20px;
}
.ty-mainbox-title {
  padding-left: 0;
  padding-right: 0;
}
.ty-sidebox,
.ty-sort-dropdown__wrapper {
  padding-left: 0;
}
.ty-step__container-active .ty-step__title-left,
.ty-multi-checkout__active .ty-multi-checkout__number {
  background: #000;
}
.ty-multi-checkout__active .ty-multi-checkout__number:after {
  content: '';
  position: absolute;
  top: 0;
  right: -5px;
  display: block;
  width: 0;
  height: 0;
  border-top: 24px solid transparent;
  border-left: 5px solid #000;
  border-bottom: 24px solid transparent;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(//fonts.gstatic.com/s/roboto/v15/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(//fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsFzqCfRpIA3W6ypxnPISCPA.woff) format('woff');
}
